body {
    background-color: rgb(109, 139, 150);
    margin: 0;
    padding-top: 20px;
}


.container {
    /* General Styling buttons */
    display: flex;
    justify-content: end;
    align-items: flex-end; 
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    
    }
    li {
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;   
         
    }
    a:link, a:visited, a:active {
        color: white;
    }
    /* Specific Styling buttons */
    .blog {
        background-color: #e17b77 ;
        transform: translateX(+110px);
    
        &:hover {
            transform: translateX(0px);
            transition: transform 350ms ease-in-out;

        }
    }
    .twitter {
        background-color: #00aced;
        transform: translateX(+110px);
     
        &:hover {
            transform: translateX(0px);
            transition: transform 350ms ease-in-out;

        }
    }
    .linkedin {
        background-color: #007bb6;
        transform: translateX(+110px);
        
        &:hover {
            transform: translateX(0px);
            transition: transform 350ms ease-in-out;

        }
    }
    .facebook {
        background-color: #3b5998;
        transform: translateX(+110px);
   
        &:hover {
            transform: translateX(0px);
            transition: transform 350ms ease-in-out;

        }
    }
    .github {
    transform: translateX(+110px);
        background-color: #333;
        &:hover {
            transform: translateX(0px);
            transition: transform 350ms ease-in-out;

        }
    }

    /* Plaatsing buttons */

    /* Vastmaken buttons */
    display: flex;
    justify-content: end;
    align-items: flex-end;

    /* Transition animation */

    
}

